<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>室内环境控制</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/static/stylesheets/homestyle.css" />
<link rel="stylesheet" type="text/css" href="/static/stylesheets/assets/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css"/>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/static/stylesheets/assets/lib/jquery/jquery-1.11.0.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/stylesheets/assets/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="container">
    <div id="header">
        <div id="header_inner">
            <h1>室内环境控制系统</h1>
            <div id="slogan">Technology is changing our lives.</div>
        </div><!--end #header_inner-->
    </div><!--end #header-->
    <div id="sidebar">
          <div id="menu">
           <ul>
             <% if (user&&user.privilege==1){ %>
              <li><a class="<%= key === "weather" ? 'active' : '' %>" href="/weather">天气预报</a></li>
              <li><a class="<%= key === "sensors" ? 'active' : '' %>" href="/sensor">室内环境</a></li>
              <li><a class="<%= key === "setpoint" ? 'active' : '' %>" href="/setpoint">预设调控</a></li>
              <li><a class="<%= key === "newcmd" ? 'active' : '' %> "href="/newcmd">设备控制</a></li>
              <li><a href="/complain">抱怨反馈</a></li>
              <li><a href="#">操作记录</a></li>
              <li><a class="<%= key === "users" ? 'active' : '' %>"href="/ctrluser">用户管理</a></li>
             <% } else {%>
              <li><a class="<%= key === "weather" ? 'active' : '' %>"href="/weather">天气预报</a></li>
              <li><a class="<%= key === "sensor" ? 'active' : '' %>"href="/sensor">室内环境</a></li>
              <li><a class="<%= key === "newcmd" ? 'active' : '' %>"href="/newcmd">设备控制</a></li>
              <li><a href="#">操作记录</a></li>
             <% } %>
              <li><a href="/"/>注销</a></li>
           </ul>
          </div><!--end #menu-->
          <div id="menu_end"></div>
          <div id="lcontent">
	      </div><!--end #loctent-->
    </div><!--end #sidebar-->
    <article>
      <% if (locals.success) { %>
        <div ><%= locals.success %></div>
        <% } %>
      <% if (locals.error) { %>
      <div><%= locals.error %> </div>
     <% } %>