<%- include header %>
    <div id="mainContent">
     <% body.forEach(function(user,index){%>
                        <tr>
                            <td><%= index + 1%></td>
                            <td><%= user.user_id%></td>
                            <td><%= user.user_name%></td>
                            <td><%= user.user_sex%></td>
                            <td><%= user.user_age%></td>
                            <td><%= user.user_previliege%></td>
                        </tr>
                        <%})%>
      <br class="clearfloat"/>
    </div><!--end #mainContent-->
<%- include footer %>