<%- include header%>
    <div id="mainContent">
      <table class="table table-striped">
                	<thead>
                        <tr>
                            <th width="40">#</th>
                            <th>time</th>
                            <th>fresh_temp</th>
                            <th>fresh_humi</th>
                            <th>co2</th>
                            <th>room_temp</th>
                            <th>room_humi</th>
                            <th>illumination</th>
                        </tr>
                    </thead>
             		<tbody>
                        <% body.forEach(function(sensor,index){%>
                        <tr>
                            <td><%= index + 1%></td>
                            <td><%= sensor.time%></td>
                            <td><%= sensor.fresh_temp%></td>
                            <td><%= sensor.fresh_humi%></td>
                            <td><%= sensor.co2%></td>
                            <td><%= sensor.room_temp%></td>
                            <td><%= sensor.room_humi%></td>
                            <td><%= sensor.illumination%></td>
                        </tr>
                        <% }) %>
                    </tbody>
              </table>
      <br class="clearfloat"/>
    </div><!--end #mainContent-->
<%- include footer%>