<%- include header%>
    <div id="mainContent">
    	<table class="table table-striped">
    	<thead><h3>设置对象</h3><thead>
    	<thead>
            <tr>
                <th width="50">调控对象</th>
                <th>上限</th>
                <th>下限</th>
                <th>修改时间</th>
            </tr>
        </thead>
 		<tbody>
 			<tr>
 				<td>温度</td>
                <td><%= body[0].temp_up%></td>
                <td><%= body[0].temp_down%></td>
                <td><%= body[0].time%></td>
 			<tr>
 			<tr>
 				<td>湿度</td>
                <td><%= body[0].humi_up%></td>
                <td><%= body[0].humi_down%></td>
                <td><%= body[0].time%></td>
 			<tr>
 			<tr>
 				<td>亮度</td>
                <td><%= body[0].ill_up%></td>
                <td><%= body[0].ill_down%></td>
                <td><%= body[0].time%></td>
 			<tr>
 			<tr>
 				<td>二氧化碳浓度</td>
                <td><%= body[0].co_up%></td>
                <td><%= body[0].co_down%></td>
                <td><%= body[0].time%></td>
 			<tr>
        </tbody>
      </table>
      <div id="record-page">
        <table class="table">
        <header>
          <h3>设置对象</h3>
          <h3>上限</h3>
          <h3>下限</h3>
          <h3>修改时间</h3>
          </table>
        </header>
        <div id="record-main">
         <section id="record-content">
           <!--添加记录-->
         </centent><!--end record-content-->
         <section id="record-sidebar">
            
         </section><!--end record-sidebar-->
        </div><!--end main-->
	  </div><!--end record-page-->
      <table class="table">
		<h3>幅度设置</h3>
        	<ul class="pagination">
              <li class="active"><a href="#">温度</a></li>
              <li><a href="#">湿度</a></li>
              <li><a href="#">二氧化碳浓度</a></li>
              <li><a href="#">照度</a></li>
            </ul>
 		<tbody>
            <tr>
                <td><input type="number" class="form-control" placeholder="Default input" name="down"></td>
                <td><input type="number" class="form-control" placeholder="Default input" name="upper"></td>
            </tr>
        </tbody>
      </table>
      <table class="table">
        <tr>
          <button type="submit" class="btn btn-primary btn-lg">提交</button>
        </tr> 
        </tbody>
      </table>
      <br ="clearfloat"/>
    </div><!--end #mainContent-->
<%- include footer%>