<%- include header%>
    <div id="mainContent">
    	<table class="table table-striped">
    	<thead><h3>设置对象</h3><thead>
    	<thead>
            <tr>
                <th width="50">调控对象</th>
                <th>上限</th>
                <th>下限</th>
                <th>修改时间</th>
            </tr>
        </thead>
 		<tbody>
			<tr>
				<td>温度</td>
	            <td><%= body[0].temp_up%></td>
	            <td><%= body[0].temp_down%></td>
	            <td><%= body[0].time%></td>
			<tr>
			<tr>
				<td>湿度</td>
	            <td><%= body[0].humi_up%></td>
	            <td><%= body[0].humi_down%></td>
	            <td><%= body[0].time%></td>
			<tr>
			<tr>
				<td>亮度</td>
	            <td><%= body[0].ill_up%></td>
	            <td><%= body[0].ill_down%></td>
	            <td><%= body[0].time%></td>
			<tr>
			<tr>
				<td>二氧化碳浓度</td>
	            <td><%= body[0].co_up%></td>
	            <td><%= body[0].co_down%></td>
	            <td><%= body[0].time%></td>
			<tr>
        </tbody>
      </table>
      <form method="post">
       <table class="table">
		<h3>幅度设置</h3>
		     <div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-primary">
			    <input type="radio" name="setwhich" value="temp" id="option1" checked="checked">温度
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="setwhich"  value="humi" id="option2">湿度
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="setwhich"   value="co" id="option3">二氧化碳浓度
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="setwhich"  value="ill" id="option3">亮度
			  </label>
			</div>
 		<tbody>
            <tr>
                <td><input type="number" class="form-control" placeholder="下限" name="down"></td>
                <td><input type="number" class="form-control" placeholder="上限" name="upper"></td>
            </tr>
        </tbody>
        </table>
          <button type="submit" class="btn btn-primary btn-lg" >提交</button>
        </from>
      <br ="clearfloat"/>
    </div><!--end #mainContent-->
<%- include footer%>